<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211632161681-7jdad9imdjro7itrs2kd16gn7gcrkpbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211632161681-7jdad9imdjro7itrs2kd16gn7gcrkpbb</string>
	<key>API_KEY</key>
	<string>AIzaSyCjGNAzialcwZIYbf037u-SMEShTElaIhY</string>
	<key>GCM_SENDER_ID</key>
	<string>211632161681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MinhTX.AdmobLibraryDemo</string>
	<key>PROJECT_ID</key>
	<string>test-admobmanager</string>
	<key>STORAGE_BUCKET</key>
	<string>test-admobmanager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211632161681:ios:259b629e144e84a696d030</string>
</dict>
</plist>